<head>
    <link rel="stylesheet" href="/static/dist/reveal.css">
    <link rel="stylesheet" href="/static/dist/theme/white.css" id="theme">
    <style>
        .reveal p {
      font-size: 0.65em;
            text-transform: None;
            text-align: left;
        }
        .reveal h2 {
            font-size: 1.2em;
            text-transform: None;
            text-align: center;
        }
        .reveal h3 {
            font-size: 1.0em;
            text-transform: None;
            text-align: left;
        }
        .reveal code {
            font-size: 0.65em;
        }
</style>
</head>
<div class="reveal" style="height:80%"> 
<h2>Building Docker containers in GitHub</h2>
<p>
    <a href="/static/slides.html">Slide show</a><br>
    <a href="https://github.com/msaunby/building-docker-containers-in-github">GitHub</a>
</p>
</div>
<p>
    Release: {{ version }} 
</p>